body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    color: white;
}

.countdown-container {
    text-align: center;
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

#addMinuteBtn {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addMinuteBtn:hover {
    background-color: #45a049;
}
